.getstarted {
  padding: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.getst_title {
  color: var(--text);
  font-family: 'Oswald', sans-serif;
  font-size: 64px;
  font-weight: 700;
  line-height: 100%;
  text-transform: uppercase;
  margin-bottom: 24px;
}
.getst_subtitle {
  color: var(--text);
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  font-weight: 300;
  line-height: 140%;
  text-align: center;
}
.getst_button {
  margin-top: 64px;
}
@media (max-width: 1440px) {
  .getstarted {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (max-width: 990px) {
  .getstarted {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .getst_title {
    font-size: 32px;
    text-align: center;
    margin-bottom: 20px;
  }
  .getst_subtitle {
    font-size: 20px;
    max-width: 304px;
  }
  .getst_button {
    margin-top: 42px;
    padding: 7.159px 7.159px 7.159px 14.319px;
  }
  .gets_but_text {
    position: relative;
    left: 10px;
  }
}
