.main {
  height: calc(100svh - 125px);
  background-color: white;
  position: relative;
  top: 125px;
  margin-left: 20px;
  margin-right: 20px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding-bottom: 20px;
  position: relative;
}
.left_wrapper {
  display: flex;
  width: 60%;
  flex-direction: column;
  gap: 20px;
  height: 100%;
  transform: skew(25deg, 0deg);
}
.left_top {
  height: 75%;
  background-color: #eef7fe;
  width: 135%;
  left: -35%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}
.right_wrapper {
  height: 100%;
  width: 40%;
}
.right-top {
  height: 100%;
  background-color: #eef7fe;
  position: relative;
  transform: skew(25deg, 0deg);
  width: 135%;
}
.left_bottom {
  width: 127%;
  height: 25%;
  position: relative;
  left: -27%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
}
.left_bottom_block {
  width: 25%;
  background-color: #eef7fe;
  height: 100%;
}
.left_top_content_wrapper {
  transform: skew(-25deg, 0deg);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  left: -100px;
}
h1 {
  max-width: 741px;
  color: #002c3f;
  font-family: 'Oswald', sans-serif;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;

  text-transform: uppercase;
  margin-bottom: 42px;
}
.accent_color {
  color: #00e0ff;
}
.regular_button {
  display: flex;
  padding: 10px 10px 10px 20px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-radius: 90px;
  border: 3px solid #00e0ff;
  text-decoration: none;
  transition: all 0.3s;
}
.regular_button_text {
  color: #002c3f;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.regular_button_icon_wrapper {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background-color: #00e0ff;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
}
.regular_button_icon {
  width: 18.4px;
  height: 18.4px;
  transition: all 0.3s;
}
.regular_button:hover {
  border: 3px solid #002c3f;
  transition: all 0.3s;
}
.regular_button:hover .regular_button_icon_wrapper {
  background-color: #002c3f;
  transform: rotate(90deg);
  transition: all 0.3s;
}
.regular_button:hover path {
  fill: white;
}
#f1,
#f2,
#f3 {
  width: 25%;
  background-color: #eef7fe;
  height: 100%;
  animation: changeColor 13.5s linear infinite;
}

#f1 {
  animation-delay: 0s;
}

#f2 {
  animation-delay: 4.5s;
}

#f3 {
  animation-delay: 9s;
}

@keyframes changeColor {
  0%,
  100% {
    background-color: #eef7fe;
  }
  33% {
    background-color: #00e0ff;
  }
  66% {
    background-color: #eef7fe;
  }
}
.left_bottom_block_content {
  transform: skew(-25deg, 0deg);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.left_bottom_block_icon {
  margin-bottom: 20px;
}
.left_bottom_block_text_left {
  color: #000;
  font-family: 'Roboto', sans-serif;
  font-size: 1.1rem;
  font-style: normal;
  font-weight: 300;
  line-height: 140%;
  margin-bottom: 8px;
}
.left_bottom_block_text_right {
  color: #000;
  font-family: 'Roboto', sans-serif;
  font-size: 1.1rem;
  font-style: normal;
  font-weight: 300;
  line-height: 140%;
  position: relative;
  left: 20px;
}

.right-top_bg {
  height: 100%;
  width: 100%;
  background: url('../img/main/bg-slices.webp') no-repeat;
  background-position: 20% 100%;
  background-size: 70%;
  transform: skew(-25deg, 0deg);
}
.right_top_content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  top: 15%;
}
.right_top_integrate_text {
  color: #002c3f;
  text-align: center;
  font-family: 'Oswald', sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
  max-width: 590px;
  margin-bottom: 35px;
}
.right_top_integrate_links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 60px;
}
.right_top_ingrate_links_vv {
  position: relative;
  left: -30px;
}

.right_top_ingrate_links_likerose {
  position: relative;
  top: -5px;
}
.main_deco_line-mob {
  display: none;
}
.swiper {
  display: none;
}
.swiper-pagination {
  display: none;
}
@media (max-width: 1720px) {
  .left_bottom_block_text_left,
  .left_bottom_block_text_right {
    font-size: 1rem;
  }
  .right_top_integrate_links {
    gap: 30px;
  }
  .right_top_content {
    top: 3%;
  }
  .right-top_bg {
    background-size: 60%;
    background-position: 40% 100%;
  }
}
@media (max-width: 1600px) {
  .right_top_content {
    top: 3%;
  }
  .right_top_integrate_links {
    gap: 0;
  }
  .left_top_content_wrapper {
    left: 0;
  }
  .left_bottom_block_text_left,
  .left_bottom_block_text_right {
    font-size: 0.8rem;
  }
}
@media (max-width: 1500px) {
  .right_top_ingrate_links_likerose {
    position: relative;
    left: -30px;
  }
  .right_top_integrate_text {
    position: relative;
    left: -30px;
  }
}

@media (max-width: 1400px) {
  .main {
    flex-direction: column;
    height: auto;
    align-items: center;
    justify-content: center;
  }
  .left_top {
    height: auto;
    background-color: transparent;
    width: 100%;
    position: initial;
  }
  .left_wrapper {
    transform: skew(0, 0);
    width: auto;
  }
  .left_top_content_wrapper {
    transform: skew(0, 0);
  }
  h1 {
    max-width: 610px;
  }
  .left_bottom {
    display: none;
  }
  .right_wrapper {
    width: auto;
  }
  .right-top {
    transform: skew(0, 0);
    background-color: transparent;
    width: 100%;
    height: auto;
  }
  .right_top_content {
    transform: skew(0, 0);
  }
  .right-top_bg {
    background: none;
    transform: skew(0, 0);
  }
  .right_top_integrate_text {
    left: 0;
  }
  .right_top_ingrate_links_vv {
    left: 0;
  }
  .right_top_ingrate_links_likerose {
    left: 0;
  }
  .regular_button {
    width: 270px;
    max-width: 270px;
    justify-content: space-between;
    margin: 0 auto;
  }
  .main_deco_line-mob {
    display: block;
    width: 100%;
  }
  .main {
    margin-left: 0;
    margin-right: 0;
  }
  .left_wrapper {
    margin-left: 20px;
    margin-right: 20px;
  }
  .right_wrapper {
    margin-left: 20px;
    margin-right: 20px;
  }
}
@media (max-width: 800px) {
  h1 {
    max-width: 300px;
    font-size: 32px;
    line-height: 100%;
    margin-bottom: 30px;
  }
  .regular_button_text {
    font-size: 16px;
  }
  .regular_button {
    padding: 7.159px 7.159px 7.159px 14.319px;
  }
  .main {
    gap: 18px;
  }
  .right_top_integrate_text {
    font-size: 18px;
    max-width: 285px;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  .right_top_integrate_links {
    gap: 20px;
  }
  .vv_logo {
    height: 40px;
  }
  .regular_button_icon_wrapper {
    height: 39px;
    width: 39px;
  }
  .swiper {
    display: block;
    padding-left: 20px;
    padding-right: 20px;
    max-width: 340px;
  }
  .swiper-slide {
    max-width: 300px;
  }
  .left_bottom_block {
    max-width: 250px;
    width: 100%;
    transform: skew(25deg, 0);
    margin: 0 auto;
    height: 130px;
  }
  .left_bottom_block_icon {
    height: 40px;
  }
  .swiper {
    margin-bottom: 28px;
  }
  .swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    background-color: #002c3f;
    opacity: 1;
  }
  .swiper-pagination-bullet-active {
    background-color: #00e0ff;
    width: 32px;
    height: 8px;
    border-radius: 5px;
  }
  .swiper-pagination {
    display: block;
  }
}
