.reviews {
  padding-top: 250px;

  overflow: hidden;
  position: relative;
  overflow: hidden;
}
.reviews_texts_wrapper {
  padding-left: 250px;
  margin-bottom: 54px;
}
.reviews_texts_uptitle {
  color: var(--text);
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 140%;
  margin-bottom: 10px;
}
.reviews_texts_title {
  color: var(--text);
  font-family: 'Oswald', sans-serif;
  font-size: 64px;
  font-weight: 700;
  line-height: 100%;
  text-transform: uppercase;
  margin-bottom: 24px;
}
.reviews_texts_text {
  max-width: 480px;
  color: var(--text);
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  font-weight: 300;
  line-height: 140%;
}
.reviews_blocks_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  transform: skew(-20deg, 0);
  position: relative;
  left: -40px;
}
.re_block_left {
  min-height: 213.5px;
  min-width: 340px;
  background-color: var(--bg);
}

.re_right_small {
  background-color: var(--bg);
  min-height: 213.5px;
  min-width: 200px;
}
.re_right_big {
  background-color: var(--bg);
  min-height: 213.5px;
  min-width: 880px;
  width: 100%;
}

.reviews_reviews_block {
  background-color: var(--bg);
  min-width: 723.451px;
  min-height: 213.5px;
  max-width: 723.451px;
  max-height: 213.5px;
  overflow: hidden;
}

.reviews_mySwiper {
  transform: skew(20deg, 0);
}

.review_wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.review_text {
  color: #0e0e0e;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  max-width: 615px;
  margin-top: 23px;
  margin-bottom: 25px;
}
.star_wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.swiper-pagination-new-one-two {
  text-align: center;
}
.review_wrap {
  margin-bottom: 20px;
}
.swiper-pagination-new-one-two .swiper-pagination-bullet {
  opacity: 1;
  background: #fff;
}
.swiper-pagination-new-one-two .swiper-pagination-bullet-active {
  background: #00e0ff;
}
.rev_absolute_phone {
  position: absolute;
  bottom: 0;
  right: 250px;
  z-index: 5;
}

@media (max-width: 1880px) {
  .reviews_texts_wrapper {
    padding-left: 100px;
  }
  .rev_absolute_phone {
    right: 150px;
  }
}
@media (max-width: 1700px) {
  .reviews_blocks_wrapper {
    left: 20px;
  }
}
@media (max-width: 1500px) {
  .reviews_blocks_wrapper {
    left: 70px;
  }
  .reviews_texts_wrapper {
    padding-left: 50px;
  }
  .rev_absolute_phone {
    right: 50px;
  }
}

@media (max-width: 1300px) {
  .re_block_left,
  .re_right_small,
  .re_right_big,
  .rev_absolute_phone {
    display: none;
  }
  .reviews_blocks_wrapper {
    left: auto;
    top: auto;
    transform: skew(-10deg, 0);
  }
  .reviews_mySwiper {
    transform: skew(10deg, 0);
  }

  .reviews {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: 850px) {
  .reviews {
    padding-top: 80px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .reviews_texts_wrapper {
    padding-left: 0;
  }
  .reviews_texts_uptitle {
    font-size: 16px;
  }
  .reviews_texts_title {
    font-size: 32px;
  }
  .reviews_texts_text {
    font-size: 16px;
  }
  .reviews_texts_wrapper {
    max-width: 304px;
    align-self: flex-start;
  }
  .review_text {
    max-width: 236px;
    font-size: 16px;
    margin-bottom: 0;
    margin-top: 10px;
  }
  .review_wrap {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }
  .star_wrap {
    margin-top: 20px;
  }
  .star_rev {
    width: 16.923px;
    height: 16.941px;
  }
  .reviews_reviews_block {
    min-width: 300.832px;
    min-height: 151.983px;
    max-width: 300.832px;
    max-height: 151.983px;
  }
  .review_wrap {
    margin-bottom: 10px;
  }
  .swiper-pagination-new-one-two .swiper-pagination-bullet {
    opacity: 1;
    background: #002c3f;
  }
  .swiper-pagination-new-one-two .swiper-pagination-bullet-active {
    background: #00e0ff;
  }
}
